hydra-core==1.0.5
omegaconf==2.0.6
python-dotenv==0.20.0
plyfile==0.7.4
trimesh==3.14.0
loguru==0.6.0
wandb==0.13.2
fvcore==0.1.5.post20220512
cloudpickle==2.1.0
pycocotools==2.0.4
albumentations==1.2.1
volumentations==0.1.8
matplotlib==3.5.3
pyviz3d==0.2.28
importlib-metadata==3.10.1
tensorboard==2.10.0
pyDeprecate==0.3.2
antlr4-python3-runtime==4.8
black==21.4b2
pytorch-lightning==1.7.2
ninja==1.11.1